@import '../../../../styles/global.scss';

.chequeOut_container {
  width: 100%;
  max-width: 1080px;
  min-width: $mobile;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 15px;
}

.chequeOut_header {
  width: 100%;
  max-width: 1080px;
  min-width: $mobile;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-blanco;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.column {
  padding: 15px;
  background-color: $color-blanco;
  border-radius: 10px;
  color: $color-azul-oscuro !important;

  // text-align: center;

  h3 {
    color: $color-azul-oscuro !important;
  }

  &>.cart {
    display: flex;
    flex-direction: column;
  }

  &>form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    &>div {

      &>small {
        color: $color-naranja-brillante;
        font-family: 'Work Sans', sans-serif;
        padding: 0px 10px;
      }

      input {
        padding: 5px 10px;
        font-family: 'Poppins', sans-serif;
        outline: none;
        border: none;
        border-bottom: 2px solid $color-azul-oscuro;
        border-radius: 0px;
        transition: border-color 0.3s;

        &:focus {
          border-color: $color-verde-manzana;
          animation: borderAnimation 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
      }
    }
  }

}

@keyframes borderAnimation {
  0% {
    border-color: $color-azul-oscuro;
  }

  100% {
    border-color: $color-verde-manzana;
  }
}

.card_container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  &>p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
  }
}

.card_container_data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $color-azul-oscuro;
  padding: 8px 10px;

  &>p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
  }

  &_numbers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;

    margin-top: 20px;

    &>p {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
    }
  }
}


.cart_numbers {
  // width: 100%;
  display: flex;
  gap: 5px;
}

.num {
  padding: 2px 4px;
  background: $color-naranja-brillante;
  color: $color-blanco;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  border-radius: 5px;
}

.chequeOut_footer {
  width: 100%;
  margin-top: 30px;
  max-width: 1080px;
  min-width: $mobile;
}

.container_buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: center;
}