@import '../../../../styles/global.scss';

.ticket {
  position: relative;
  width: 200px;
  background: linear-gradient(335deg, $color-naranja-brillante, $color-naranja-complementario);
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
    transition: all 0.2s ease-in-out;
  }

  &>b {
    margin: 5px;
  }

  &_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;

    &>span {
      font-size: medium;
      font-weight: 500;
      font-family: 'Work Sans', sans-serif;
      color: $color-blanco;
    }
  }
}