@import '../../../../styles/global.scss';

.button {
  background: linear-gradient(335deg, $color-naranja-brillante, $color-naranja-complementario);
  color: $color-blanco;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: large;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:hover{
    scale: 1.1;
    transition: all 0.2s ease-in-out;
  }

  &:disabled{
    background: rgba($color: $color-naranja-complementario, $alpha: 0.8);
    cursor:not-allowed;

    &:hover{
      scale: 1;
    }
  }
}