@import '../../../../styles/global.scss';

.container {
  width: 100%;
  max-width: $desktop;
  min-width: $mobile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  &_name_activity {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
  }

  @media (min-width: $tablet ) {
    &_name_activity {
      font-size: 70px;
    }
  }
}

.boxAward {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 98%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.slider {
  width: 100%;
  max-width: 1000px;
  min-width: $mobile;
  height: 100%;
  margin: 10px;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    // height: 100%;
  }
  @media (min-width: $tablet ) {
    width: 48%;
  }
  @media (min-width: $laptop ) {
    width: 55%;
  }
}

.seller {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info_raffle {
  width: 100%;
  max-width: 580px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  & > h3 {
    font-family: 'Poppins', sans-serif;

    &>b {
      font-family: 'Poppins', sans-serif;
      font-size: x-large;
      font-weight: 700;
      color: $color-naranja-brillante;
    }
  }

  & > p {
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 1px 3px #000;
  }

  &_list {
    margin-left: 20px;
    list-style: decimal;

    &>li {
      font-family: 'Work Sans', sans-serif;
      line-height: 20px;
    }
  }
  @media (min-width: $tablet ) {
    width: 48%;
  }
  @media (min-width: $laptop ) {
    width: 42%;
  }
}

.container_tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 45px;

  @media (min-width:$tablet ) {
    flex-direction: row;
  }
}